{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<title>{{template "title" .}} - Snippetbox</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>


<body>
<header>

</header>
<nav class="navbar p-5 has-background-light" role="navigation">
{{if .AuthenticatedUser}}
<h1 class="navbar-item"><a href='/'>Snippetbox</a></h1>
<a href='/snippet/create' class="navbar-item">Create snippet</a>
{{else}}
      <div class="navbar-end">
        <a href='/' class="navbar-item">Home</a>
        <a href='/user/login' class="navbar-item">Login</a>
        <a href='/user/signup' class="navbar-item">Sign Up</a>
      </div>
{{end}}

{{if .AuthenticatedUser}}
<p>{{.AuthenticatedUser.Name}}</p>
<form method="POST" action="/user/logout">
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
<button>logout</button>
</form>
{{end}}
</nav>
{{with .Flash}}
<h1>{{.}}</h1>
{{end}}
{{template "body" .}}
</body>

{{template "footer" .}}
</html>
{{end}}

