{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<title>{{template "title" .}} - Snippetbox</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<header>
<h1><a href='/'>Snippetbox</a></h1>

</header>
<nav>
<a href='/'>Home</a>
{{if .AuthenticatedUser}}
<a href='/snippet/create'>Create snippet</a>
{{else}}
<a href='/user/login'>Login</a>
<a href='/user/signup'>Sign Up</a>
{{end}}

{{if .AuthenticatedUser}}
<p>{{.AuthenticatedUser.Name}}</p>
<form method="POST" action="/user/logout">
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
<button>logout</button>
</form>
{{end}}
</nav>
{{with .Flash}}
<h1>{{.}}</h1>
{{end}}
{{template "body" .}}
</body>

{{template "footer" .}}
</html>
{{end}}

