{{template "base" .}}
{{define "title"}}
Form Snippet
{{end}}

{{define "body"}}
<div class="subDiv">
    <form action="/snippet/create" method="POST" class="container">
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    {{with .Form}}
        <div>
            <label>Title:</label>
                {{with .Errors.Get "title"}}
                    <label class='error'>{{.}}</label>
                {{end}}
            <input type='text' class="input" name='title' value="{{.Get "title"}}">
        </div>
        <div>
            <label>Content:</label>
                {{with .Errors.Get "content"}}
                    <label class='error'>{{.}}</label>
                {{end}}
            <textarea name='content'>{{.Get "content"}}</textarea>
        </div>
        <div class="radio">
            {{with .Errors.Get "Expires"}}
                <label class='error'>{{.}}</label>
            {{end}}
             {{$exp := or (.Get "expires") "1" }}
            <label for="oneYear">
                <input type= "radio" name="expires"  value="365" {{if (eq $exp "365")}}checked{{end}} id="oneYear">One Year</label>
            <label for="oneWeek">
                <input type= "radio" name="expires"  value="7" {{if (eq $exp "7")}}checked{{end}} id="oneWeek">One Week</label>
            <label for="oneDay">
                <input type= "radio" name="expires"  value="1" {{if (eq $exp "1")}}checked{{end}} id="oneDay">One Day</label>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
        {{end}}
    </form>
</div>
{{end}}