{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
<div class="is-fullheight">

  <h3 class="mt-3 mb-3">Latest Snippets</h3>
  {{if .Snippets}}
  <div class="container">
  <table class="table table is-fullwidth">
    <tr>
    <th>Title</th>
    <th>Created</th>
    <th>ID</th>
    </tr>
    {{range .Snippets}}
    <tr>
    <td><a href='/snippet/{{.ID}}'>{{.Title}}</a></td>
    <td>{{humanDate .Created}}</td>
    <td>#{{.ID}}</td>
    </tr>
  {{end}}
  </table>
  </div>
  {{else}}<h4>There is no snippet</h4>
  {{end}}
</div>
{{end}}