{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
<div class="is-fullheight">

  {{if .Snippets}}
  <table class="table table is-fullwidth mx-5 mt-5">
    <tr>
    <th>Title</th>
    <th>Created</th>
    <th>ID</th>
    </tr>
    {{range .Snippets}}
    <tr>
    <td><a href='/snippet/{{.ID}}'>{{.Title}}</a></td>
    <td>{{humanDate .Created}}</td>
    <td>#{{.ID}}</td>
    </tr>
  {{end}}
  </table>
  {{else}}<h4>There is no snippet</h4>
  {{end}}
</div>
{{end}}