{{template "base" .}}
{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}
{{define "body"}}
<div class='container'>
<div class='metadata'>
<strong>{{.Snippet.Title}}</strong>
<span>#{{.Snippet.ID}}</span>
</div>
<p class="p-5 is-family-monospace has-background-grey-lighter">{{.Snippet.Content}}</p>
<div class='metadata'>
<time>Created: {{humanDate .Snippet.Created}}</time>
<time>Expires: {{humanDate .Snippet.Expires}}</time>
</div>
</div>
{{end}}